<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LicentaCosmic.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>B89738672CB2DDD537932518F106DA0AEDA222E9</string>
				<key>dateExpires</key>
				<string>03/01/2019</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>973M7H6VSD.org.LicentaCosmic</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>973M7H6VSD</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>973M7H6VSD.org.LicentaCosmic</string>
				</array>
			</dict>
			<key>name</key>
			<string>LicentaCosmic.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>36b17378-1e5e-4000-81ed-262de288f529</string>
				<key>name</key>
				<string>Cosmic</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>973M7H6VSD</string>
				<key>name</key>
				<string>Haitian American Broadcasting Network</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
